#btn-col{
   /*background-color:rgb(184, 176, 176); */
 margin-bottom: 0.25em; 
}

#heifetz_link {
  margin-left: .25rem;
}

.alert, .card, .navbar {
  background-color: rgb(217, 83, 79, 0.2);
}

 .card-header {
  margin-bottom: 20px;
  font-family: 'Marko One', serif;
}

.navbar-brand {
  font-family: 'Marko One', serif;
  padding-bottom: -0.1rem;
}
.alert, .card, .form-control  {
  box-shadow: 5px 10px rgb(217, 83, 79, 0.4)
}   

#alertFormat {
  padding: 10px;
  list-style: none;
}

.nav-item {
  padding-right: 0.2rem;
}

p, li {
  font-size: 1.2em;
}

h2 {
  font-size: 2.5em;
}